/*---- About Us Container ----*/
.boxomoss{
    text-align: center;
    background-color: var(--box-color);
  }
  
  .omoss{
    align-content: center;
    width: 75%;
    height: 60%;
    margin: 5% auto 0 auto;
    padding: 10% 20%;
  }
  
  .innerheaderomoss{
    margin-bottom: 20px;
  }
  /*---- About Us Picture ----*/
  .ristorante{
    margin: 15% auto 0 auto;
  }