@import url(root.css);


/*---- Generals ----*/
*{
  margin: 0;
}

html{
  height: 100%;
}

body{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header{
  width: 100%;
  background-color: var(--header-color);
}

main{
  width: 100%;
}

footer{
  width: 100%;
  background-color: var(--footer-color);
}

/*---- Navigation ----*/

#navigation{
  position: absolute;
  display: inline-block;
  top: 3%;
  right: 20%;
  height: 20px;
}

.nav-links{
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li{
  position: relative;
  display: inline-block;
  margin: 0 12px;
}

a{
  text-decoration: none;
  color: inherit;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font: 22px/44px D-DIN-Bold,Arial,Verdana,sans-serif;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-header{
  position: relative;
  margin-left: 20px;
  font: 25px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
}

/*---- Phone Nav ----*/

.mp-dp-open{
  position: absolute;
  right: 4%;
}

#mp-dp-close {
  position: absolute;
  right: 4%;
}

.mp-dp-cont{
  display:none;

  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--mp-dp-color);
}

.mp-dp-header{
  font-size: 55px;
}

.mp-dp-sect-head{
  text-decoration: underline;
  margin-bottom: 10px;
}

.mp-dp-sect-item{
  font-size: 1.3em;
  margin-bottom: 3px;
}

/*Header*/
.headerlogo{
  height: 30%;
  width: 30%;
}

/*---- Body/Main ----*/

/*---- Welcome Container ----*/
.box{
  text-align: center;
  background-color: var(--box-color);
}

.welcome{
  align-content: center;
  width: 60%;
  height: 60%;
  margin: 5% auto 0 auto;
  padding: 10% 20%;
}

.innerheader{
  margin-bottom: 20px;
}

.box p{
  font-size: large;
}

.buttons{
  float: right;
  margin: 10px auto 0 auto;
}

.buttons button{
  border: none;
  padding: 15px 32px;
  background-color: var(--button-color);
  color: black;
  font-size: 16px;
}

.buttons button:hover{
  background-color: var(--button-hover);
}

/*---- Pizza container ----*/
.pizza{
  margin: 10% auto 0 auto;
}

/*---- Slideshow ----*/
.mySlides {display: none;}
.mySlides > img {vertical-align: middle; display: block; max-width: 100%; max-height: 70%; width: 80em; height: 40em; object-fit: contain; margin-left: auto;
  margin-right: auto;}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*---- Footer ----*/
.cardcontainer{
  margin: 10px auto;
  width: 25%;
  height: 15%;
}

.cardheader {
 margin-bottom: 10px;
}

.cardbody p {
  line-height: 1.4em;
}